[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-objc"]
	path = .vim/bundle/vim-objc
	url = git://github.com/b4winckler/vim-objc.git
[submodule "git-slides"]
	path = git-slides
	url = git@github.com:gelisam/git-slides.git
[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = git@github.com:vim-scripts/VimClojure.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
